##################################
## Code Composer Studio specific
##################################

# I only want the .out or .bin file
*.d
*.o
*.obj
*.out
*.prefs
*.pp
*.mk
*.map
*.xml
*.opt
*.log
.ccsproject

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# CCS-specific
dvt/
RemoteSystemsTempFiles/
targetConfigs/

# Keil-specific
*.axf
*.crf
*.iex
*.uvopt
*.uvgui
*.uvgui.*
*.map
*.lst
*.plg
*.dep
*.htm
*.bak
*.tra
*.lnp

##########################
#  Ignore example folders
##########################

examples/

